# Weird finder Stuff
.DS_Store

# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# Plugins
!web/app/mu-plugins/register-custom-post-types.php
!web/app/mu-plugins/register-custom-taxonomies.php
!web/app/mu-plugins/wp-github-sync-custom-filters.php
!web/app/mu-plugins/remove-relative-links-in-sitemaps.php
!web/app/mu-plugins/tag-loader/

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep

# Node Package Manager
node_modules

# Vagrant
bin
.vagrant
